header {
    /* background-color: #68266F; */
    background-color: #8D2F5B;
}

.cute div {
    /* background-color: #953255 */
    background-color: #8A0041;
}

.table {
    /* background-color: #AA5439; */
    background-color: #8C0243;
}

.edit {
    /* background-color: #9F3548; */
    background-color: #915B74;
}

/* header {
    font-family: "Nosifer Caps";
}

.container {
    font-family: "Philosopher";
} */


.cute md-card {
    background-color: #915B74;
}

.spoopy md-card {
    background-color: black;
    color: red;
}

.spoopy md-content {
    background-color: black;
    color: red;
}

.spoopy div {
    background-color: black;
}

.spoopy {
    font-family: "Nosifer Caps";
    color: red;
}

.cute {
    font-family: fantasy;
}