<div flex="30" class="form">
    <h3>Add Pet</h3>

    <form ng-submit="vm.addPet()">
        <input type="text" placeholder="Pet Name" ng-model="vm.petNameIn">
        <input type="text" placeholder="Pet Color" ng-model="vm.petColorIn">
        <input type="text" placeholder="Pet Breed" ng-model="vm.petBreedIn">
        Owner:
        <select ng-model="vm.ownerIn">
            <option ng-repeat="owner in vm.ownerNames" value="{{owner.id}}">{{owner.name}}</option>
        </select>
        <input type="submit" value="Submit">
    </form>

    <h4>Edit Pet</h4>
    <select ng-model="vm.petToEdit">
        <option ng-repeat="pet in vm.pets" value="{{pet.id}}">{{pet.pet}}</option>
    </select>
    <button type="submit" ng-click="vm.toggleEditMode()">Open Editor</button> <br> <br>
    <form ng-submit="vm.editPet()" ng-if="vm.editMode">
        Only Enter That Which You Wish To Change
        <md-input-container>
            <label>Name:</label>
            <input type="text" ng-model="vm.petNameEdit"> <br>
        </md-input-container>
        <md-input-container>
            <label>Color:</label>
            <input type="text" ng-model="vm.petColorEdit"> <br>
        </md-input-container>
        <md-input-container>
            <label>Breed:</label>
            <input type="text" ng-model="vm.petBreedEdit"> <br>
        </md-input-container>
        <md-input-type >
            Owner:
            <select ng-model="vm.ownerEdit">
                <option ng-repeat="owner in vm.ownerNames" value="{{owner.id}}">{{owner.name}}</option>
            </select>
        </md-input-type> 
        <md-input-type>
            <input type="submit" value="Submit Changes">
        </md-input-type>  
    </form>

    <button ng-click="vm.changeContext()">Change Context</button>
</div>

<md-content flex="70" class="table">
    <h3>History</h3>

    <md-card ng-repeat="pet in vm.pets" layout-align="center center">
        <md-card-avatar>
            <img class="md-user-avatar" src="../images/{{vm.context}}/{{pet.image}}" height="200" width="200">
        </md-card-avatar>
        <md-card-header-text layout="column">
            <span class="md-title">{{pet.pet}}</span>
            <span class="md-subhead">Friend of {{pet.owner}}</span>
        </md-card-header-text>
        <md-card-content>
            <div>Breed: {{pet.breed}}</div>
            <div>Color: {{pet.color}}</div>
            <div ng-switch="pet.checkedin">Checked In?:
                <span ng-switch-when="true">{{pet.checkindate}}</span>
                <span ng-switch-when="false">No</span>
            </span>
        </md-card-content>
        <md-card-actions layout="row">
            <md-button ng-click="vm.deletePet(pet)">Delete</md-button>
            <md-button ng-if="!pet.checkedin" ng-click="vm.changeStatus(pet)">Check In</md-button>
            <md-button ng-if="pet.checkedin" ng-click="vm.changeStatus(pet)">Check Out</md-button>
        </md-card-actions>
    </md-card>
</md-content>