<div flex="30" class="side">
    <h3>Add Pet</h3>

    <form ng-submit="vm.addPet()" layout="column">
        <input type="text" placeholder="Pet Name" ng-model="vm.petNameIn">
        <input type="text" placeholder="Pet Color" ng-model="vm.petColorIn">
        <input type="text" placeholder="Pet Breed" ng-model="vm.petBreedIn">
        Owner:
        <select ng-model="vm.ownerIn">
            <option ng-repeat="owner in vm.ownerNames" value="{{owner.id}}">{{owner.name}}</option>
        </select>
        Pet Category:
        <select ng-model="vm.imageIn">
            <option value="bird.png">Bird</option>
            <option value="cat.png">Cat</option>
            <option value="cthulu.png">Cthulu</option>
            <option value="dog.png">Dog</option>
            <option value="hamster.png">Hamster</option>
            <option value="rabbit.png">Rabbit</option>
            <option value="snake.png">Snake</option>
            <option value="turtle.png">Turtle</option>
            <option value="whale.png">Whale</option>

        </select>
        <input type="submit" value="Submit">
    </form>

    <h4>Edit Pet</h4>
    <select ng-model="vm.petToEdit">
        <option ng-repeat="pet in vm.pets" value="{{pet.id}}">{{pet.pet}}</option>
    </select>
    <button type="submit" ng-click="vm.toggleEditMode()">Open Editor</button> <br> <br>
    <form ng-submit="vm.editPet()" ng-if="vm.editMode">
        <md-input-container>
            <label>Name:</label>
            <input type="text" ng-model="vm.petNameEdit"> <br>
        </md-input-container>
        <md-input-container>
            <label>Color:</label>
            <input type="text" ng-model="vm.petColorEdit"> <br>
        </md-input-container>
        <md-input-container>
            <label>Breed:</label>
            <input type="text" ng-model="vm.petBreedEdit"> <br>
        </md-input-container>
        <md-input-type >
            Owner:
            <select ng-model="vm.ownerEdit">
                <option ng-repeat="owner in vm.ownerNames" value="{{owner.id}}">{{owner.name}}</option>
            </select>
        </md-input-type> 
        <md-input-type>
            <input type="submit" value="Submit Changes">
        </md-input-type>  
    </form>
</div>

<md-content flex="70" class="table">
    <h3>Pets</h3>

    <md-card ng-repeat="pet in vm.pets" layout-align="center center">
        <md-card-avatar>
            <img class="md-user-avatar" src="../images/{{vm.context}}/{{pet.image}}" height="300" width="300">
        </md-card-avatar>
        <md-card-header-text layout="column">
            <span class="md-title">{{pet.pet}}</span>
            <span class="md-subhead">Friend of {{pet.owner}}</span>
        </md-card-header-text>
        <md-card-content>
            <span>Breed: {{pet.breed}}</span> <br>
            <span>Color: {{pet.color}}</span> <br>
            <span ng-switch="pet.checkedin">Checked In?:
                <span ng-switch-when="true">{{pet.checkindate}}</span>
                <span ng-switch-when="false">No</span>
            </span>
        </md-card-content>
        <md-card-actions layout="row">
            <md-button ng-click="vm.deletePet(pet)">Delete</md-button>
            <md-button ng-if="!pet.checkedin" ng-click="vm.changeStatus(pet)">Check In</md-button>
            <md-button ng-if="pet.checkedin" ng-click="vm.changeStatus(pet)">Check Out</md-button>
        </md-card-actions>
    </md-card>

    <md-button ng-if="vm.context == 'cute'" ng-click="vm.changeContext()">
        The Void Whispers To Me...
    </md-button>
    <md-button ng-if="vm.context == 'spoopy'" class="md-raised" ng-click="vm.changeContext()">
        This Is Not What I Asked For...
    </md-button>
</md-content>