<md-dialog class="edit">
    Enter Whatever You Want to Edit:
    {{petToEdit.pet}}
    <form ng-submit="vm.editPet(pet)">
       <md-input-container>
           <label>Name:</label>
          <input type="text" ng-model="vm.petNameEdit"> <br>
       </md-input-container>
       <md-input-container>
            <label>Color:</label>
           <input type="text" ng-model="vm.petColorEdit"> <br>
        </md-input-container>
        <md-input-container>
            <label>Breed:</label>
            <input type="text" ng-model="vm.petBreedEdit"> <br>
        </md-input-container>
        <md-input-type >
            Owner:
            <select ng-model="vm.ownerEdit">
                <option ng-repeat="owner in vm.ownerNames" value="{{owner.id}}">{{owner.name}}</option>
            </select>
        </md-input-type> 
        <md-input-type>
            <input type="submit" value="Submit Changes">
        </md-input-type>  
    </form>
</md-dialog>
