<table>
    <tr>
        <th>Owner</th>
        <th>Pet</th>
        <th>Breed</th>
        <th>Color</th>
        <th>Checked In</th>
        <th>Actions</th>     
    </tr>
    <tr ng-repeat="pet in vm.pets" ng-switch="pet.checkedin">
        <td>{{pet.owner}}</td>
        <td>{{pet.pet}}</td>
        <td>{{pet.breed}}</td>
        <td>{{pet.color}}</td>
        <td ng-switch-when="true">{{pet.checkindate}}</td>
        <td ng-switch-when="false">No</td>
        <td ng-switch="pet.checkedin">
            <button ng-click="vm.deletePet(pet)">Delete</button>
            <button ng-switch-when="false" ng-click="vm.changeStatus(pet)">Check In</button>
            <button ng-switch-when="true" ng-click="vm.changeStatus(pet)">Check Out</button>
        </td>
    </tr>
</table>

<md-card ng-repeat="pet in vm.pets">
    <md-card-avatar>
        <img class="md-user-avatar" src="#">
    </md-card-avatar>
    <md-card-header-text>
        <span class="md-title">{{pet.pet}}</span>
        <span class="md-subhead">Friend of {{pet.owner}}</span>
    </md-card-header-text>
</md-card>